.card-container {
  width: 100px;
  font-size: 0.8rem;
}

.card {
  background-color: #dfdfdf;
  height: 150px;
  display: flex;
  flex-direction: column;
  border-radius: 55px;
  justify-content: space-evenly;
  align-items: center;
}

.card > img {
  width: 50px;
  border-radius: 10px;
}

.card-name {
  text-align: center;
  margin-top: 10px;
}
