.experience {
  padding: 0px 10px;
}

.right {
  text-align: end;
  align-self: center;
  /* 
  display: flex;
}

.left {
  /* text-align: start; */
}

.right-text {
  font-size: 2rem;
}

.left-text {
  font-size: 12px;
  /* width: 100%; */
}

.experience > h6 {
  text-transform: uppercase;
  color: #a9a9a9;
}
